@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

body {
  background:#080808;
  font-family: "Poppins", sans-serif;
 
  background-size: contain;
  background-repeat: no-repeat;

} 
#caraousel{
  align-items: center;
  padding: 20px 20px;
}
.resumebtn .btn {
    background-color: #3498db;
    color: #ffffff;
     border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  
}
.resumebtn .btn:hover {
     background-color: #2980b9; 
    color: #ffffff;
   
}
.about{
  color: #ffffff;
  padding: 50px;
  align:right;
}
.container-box{
  diplay:flex;
   padding: 10px;
}
.image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    margin-right: 20px; /* Add spacing between image and text */
}
#card1{
  background:#333;
 color:#ffffff;

}
#c1{
  background:#080808;

}
#card2{
  background:#333;
 color:#ffffff;

}
#card3{
  background:#333;
  color:#ffffff;

}
.socials {
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #0e0e0e;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.gitlab:hover {
  background-color: #070707;
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
}
#contact{
  background:#080808;

}
#contact2{
   background:#333;

}